[submodule "k2-rci-api-orders"]
	path = k2-rci-api-orders
	url = git@github.com:rogerrafael7/k2-rci-api-orders.git
	branch = main
[submodule "k2-rci-api-products"]
	path = k2-rci-api-products
	url = git@github.com:rogerrafael7/k2-rci-api-products.git
	branch = main
